body {
  --grid-column-count: 6;
  --grid-gutter-width: 25px;
}

.grid {
  display: grid;
  max-width: 948px;
  margin: 0 auto;
  grid-template-columns: repeat(var(--grid-column-count), 1fr);
  gap: var(--grid-gutter-width);
}

.grid--base {
  grid-template-areas:
    'sidebar content content content content content'
    'footer footer  footer   _        _      _      ';
  grid-template-rows: 1fr auto;
}

@media(max-width: 947px) and (min-width: 699px) {
  .grid--base {
    grid-template-areas:
      'sidebar content content content content content'
      'footer  footer  footer  footer  _       _';
  }
}

@media(max-width: 700px) and (min-width: 499px) {
  .grid--base {
    grid-template-columns:
      minmax(90px, 1fr)
      repeat(calc(var(--grid-column-count) - 1), 1fr);
    grid-template-areas:
    'sidebar content content content content content'
    'footer  footer  footer  footer  footer  footer';
  }
}


@media(max-width: 500px) {
  body {
    --grid-column-count: 1;
    --grid-gutter-width: 20px;
  }

  .grid--base {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .grid--base main {
    margin-top: 20px;
    flex: 1 1 auto;
  }
}